 body {
  display: flex;
  justify-content: center;
  align-items: center;
 }

#addreses {
  margin-right: 2rem;
  min-width: 400px;
  max-height: 400px;
  overflow: scroll;
}

.address {
  margin-top: 1rem;
  display: flex;
}

#map {
  min-height: 400px;
  min-width: 400px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
